.vs/

**/bin/
**/obj/

infra/volumes/

.aws/
.releases/
.text-compare/

replicas-environment-variables/connector-producer-prod.env
replicas-environment-variables/connector-producer-use.env
appsettings.*Production.json

*.csproj.user